---
title: "About Me - Marc Puig López";
---

<main class="max-w-3xl mx-auto py-20">
	<section class="mb-8">
		<h1 class="text-3xl font-bold mb-4">¡Hola, soy Marc Puig López!</h1>
		<p class="text-gray-700 dark:text-gray-300">
			Soy un ingeniero de software con experiencia en desarrollo frontend,
			backend y full stack.
		</p>
	</section>

	<section class="mb-8">
		<h2 class="text-2xl font-bold mb-4">Experiencia Profesional</h2>
		<p class="text-gray-700 dark:text-gray-300">
			Tengo una sólida carrera en desarrollo de software, trabajando en
			proyectos desafiantes y emocionantes. Mi experiencia incluye trabajos en
			el desarrollo tanto del frontend como del backend, abarcando tecnologías
			modernas y frameworks.
		</p>
	</section>

	<section class="mb-8">
		<h2 class="text-2xl font-bold mb-4">Habilidades Técnicas</h2>
		<ul class="list-disc pl-4">
			<li class="text-gray-700 dark:text-gray-300">
				Desarrollo Frontend: HTML, CSS, JavaScript, React, etc.
			</li>
			<li class="text-gray-700 dark:text-gray-300">
				Desarrollo Backend: Node.js, Express, Django, etc.
			</li>
			<li class="text-gray-700 dark:text-gray-300">
				Desarrollo Full Stack: Integración de sistemas y arquitecturas.
			</li>
		</ul>
	</section>

	<section>
		<h2 class="text-2xl font-bold mb-4">Contáctame</h2>
		<p class="text-gray-700 dark:text-gray-300">
			¡Si deseas saber más sobre mi experiencia o trabajar juntos en un proyecto
			emocionante, no dudes en contactarme!
		</p>
		<p class="text-blue-500 hover:underline dark:text-blue-400">
			<a href="mailto:tu@email.com">tu@email.com</a>
		</p>
	</section>
</main>
