---
title: "About Me";
import { Button } from "@nextui-org/react";
import Skills from "../components/Skills.astro";
---

<main class="max-w-5xl mx-auto py-20 flex" id="AboutMe">
	<section class="p-5 w-2/5">
		<div class="text-center">
			<h1 class="dark:text-purple-300 text-5xl font-bold mb-4">Marc Puig</h1>
			<img
				loading="lazy"
				src="./src/utils/img/MarcPhoto2.jpg"
				alt="Marc Puig López"
				class="mx-auto rounded-full w-48 h-48 my-6"
			/>
			<div class="">
				<span
					class="bg-gray-300 text-gray-900 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
					>Web designer</span
				>
				<span
					class="bg-gray-300 text-gray-900 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
					>Web developer</span
				>
				<br />
				<span
					class="bg-gray-300 text-gray-900 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300"
					>Full Stack dev</span
				>
			</div>
			<div
				class="inline-flex bg-purple-600 mt-5 pl-3 pr-1 py-1 rounded-lg transition hover:bg-purple-900 hover:cursor-pointer gap-1">
				<button
					class="text-sm text-purple-200 text-center align-bottom"
					id="downloadCV">
					Resume
				</button>
				<img
					src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAyklEQVR4nO2QQQrCMBBF48q1gjsL3sEb6JU8hS60i+qk1YulmmldqJlaqCeoTHFVUKxtFKEPPoTMZH7+CNHSJFlw7LOELQhwQRLn1gyM1EtWa/AU067o6ytKvdAxUs/yPO+UDfiOa9zzscFppwYk9d4AwmNgYVCcAYFr3FMrxdVXQwIMjdRbI9E1gCsC7RFgdN7gSDRB6oVOkUTijcXnWqt5lYSa/HmZbB33WFaG/xfKVd0kiMdVxG/eNrhANCWpD1WU+NHEauqfcQeJo/FK8cow0QAAAABJRU5ErkJggg=="
					alt="Download resume"
					loading="lazy"
				/>
			</div>
		</div>
	</section>
	<section class="p-5 w-3/5">
		<div>
			<h1 class="text-3xl font-bold mb-4">Sobre mí</h1>
			<p class="text-gray-700 dark:text-gray-300 text-justify">
				Hola! Me llamo <b>Marc Puig López</b>, y soy Ingeniero Informático de
				Gestión y Sistemas de Información.

				<br />
				<br />

				Mi objetivo actual es continuar formándome y ganando experiencia para
				poder ampliar mis horizontes actuales y afrontar nuevos retos que
				contribuyan al desarrollo de mi carrera profesional y personal.

				<br />
			</p>
		</div>
		<Skills />
	</section>

	<script>
		const CVButton = document.getElementById("downloadCV");

		CVButton.addEventListener("click", function () {
			window.open("./src/utils/CV/CV_MarcPuigLópez.pdf");
		});
	</script>
</main>
