---
import ThemeIcon from "../components/ThemeIcon.astro";
import { Link } from "@nextui-org/react";
---

<header
	class="py-8 mx-auto items-center justify-between align-middle sticky top-0 lg:py-2 px-10 xl:px-72 2xl:px-96 flex bg-gray-100 dark:bg-black z-20">
	<div class="">
		<img
			src="./src/utils/img/blackLogo.png"
			alt="Marc Puig Logo"
			class="dark:block hidden w-16 h-16 mx-16"
		/>
		<img
			src="./src/utils/img/whiteLogo.png"
			alt="Marc Puig Logo"
			class="dark:hidden block w-16 h-16 mx-16"
		/>
	</div>

	<div class="">
		<nav class="flex flex-wrap justify-center gap-10 transition-all">
			<Link href="#" color="foreground" underline="hover">Home</Link>
			<Link href="#" color="foreground" underline="hover">About Me</Link>
			<Link href="#" color="foreground" underline="hover">Projects</Link>
		</nav>
	</div>
	<div class="mx-16 w-16">
		<li
			class="text-medium whitespace-nowrap box-border list-none data-[active=true]:font-semibold hidden sm:flex">
			<a
				class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10
		data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2
		text-medium text-primary no-underline hover:opacity-60 active:opacity-disabled transition-opacity p-1"
				aria-label="Instagram"
				tabindex="0"
				role="link"
				href="https://instagram.com/Mark.puig"
				rel="noopener noreferrer"
				target="_blank">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					x="0px"
					y="0px"
					width="22"
					height="22"
					viewBox="0 0 50 50"
					class="fill-gray-600 dark:fill-gray-400">
					<path
						d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
					></path>
				</svg>
				<!-- <svg
		height="24"
		viewBox="0 0 24 24"
		width="24"
		class="text-default-600 dark:text-default-500"
		><path
		d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
		fill="currentColor"></path></svg
		> -->
			</a><a
				class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium text-primary no-underline hover:opacity-80 active:opacity-disabled transition-opacity p-1"
				aria-label="Twitter"
				tabindex="0"
				role="link"
				href="https://twitter.com/MarkCoding"
				rel="noopener noreferrer"
				target="_blank"
				><svg
					height="24"
					viewBox="0 0 24 24"
					width="24"
					class="text-default-600 dark:text-default-500"
					><path
						d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"
						fill="currentColor"></path></svg
				>

				<!-- <svg
					height="24"
					viewBox="0 0 24 24"
					width="24"
					class="text-default-600 dark:text-default-500"
					><path
					d="M14.82 4.26a10.14 10.14 0 0 0-.53 1.1 14.66 14.66 0 0 0-4.58 0 10.14 10.14 0 0 0-.53-1.1 16 16 0 0 0-4.13 1.3 17.33 17.33 0 0 0-3 11.59 16.6 16.6 0 0 0 5.07 2.59A12.89 12.89 0 0 0 8.23 18a9.65 9.65 0 0 1-1.71-.83 3.39 3.39 0 0 0 .42-.33 11.66 11.66 0 0 0 10.12 0q.21.18.42.33a10.84 10.84 0 0 1-1.71.84 12.41 12.41 0 0 0 1.08 1.78 16.44 16.44 0 0 0 5.06-2.59 17.22 17.22 0 0 0-3-11.59 16.09 16.09 0 0 0-4.09-1.35zM8.68 14.81a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.93 1.93 0 0 1 1.8 2 1.93 1.93 0 0 1-1.8 2zm6.64 0a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.92 1.92 0 0 1 1.8 2 1.92 1.92 0 0 1-1.8 2z"
					fill="currentColor"></path></svg
					> -->
			</a><a
				class="relative inline-flex items-center tap-highlight-transparent outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 text-medium text-primary no-underline hover:opacity-80 active:opacity-disabled transition-opacity p-1"
				aria-label="Github"
				tabindex="0"
				role="link"
				href="https://github.com/nextui-org/nextui"
				rel="noopener noreferrer"
				target="_blank"
				><svg
					height="24"
					viewBox="0 0 24 24"
					width="24"
					class="text-default-600 dark:text-default-500"
					><path
						clip-rule="evenodd"
						d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
						fill="currentColor"
						fill-rule="evenodd"></path></svg
				></a
			><label
				aria-label="Switch to light mode"
				class="group relative max-w-fit inline-flex items-center justify-start touch-none tap-highlight-transparent p-1 w-8 h-8 transition-opacity hover:opacity-80 cursor-pointer"
				style="user-select: none;"
				><div
					style="border:0;clip:rect(0 0 0 0);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap">
					<input
						aria-labelledby=":R47apla:"
						type="checkbox"
						role="switch"
						value="light"
					/>
				</div>
				<ThemeIcon />
			</label>
		</li>
	</div>

	<!-- <div class="mx-auto text-center mb-8 lg:mb-16">
		<h2 class="mb-4 text-5xl tracking-tight font-extralight">
			Web portfolio of <br />
			<span class="font-normal"> Marc Puig López</span>
		</h2>
	</div> -->
</header>
