---
title: "Home";
---

<div class="flex -mt-20 pt-32" id="Home">
	<div class="grid grid-cols-5 pt-24 pb-24 lg:mb-16 w-screen">
		<div
			class="col-start-2 col-span-2 pt-32 text-5xl tracking-tight font-extralight text-left -mr-5">
			<h2 class="font-bold text-gray-900 dark:text-gray-400">
				<div class="typewritter font-normal leading-normal">
					<!-- Hi! <br /> -->
					My name is <br /> 
					<span class="font-bold text-purple-500">Marc Puig López</span
					>
					<br />
					and I'm a
					<div id="text"></div><div id="cursor"></div>
				</div>
			</h2>
		</div>
		<!-- <div class="absolute xl:right-80 w-128 h-128 bg-cover z-10" style="background-image:url(../src/utils/img/MarcPhoto2.png)"> -->
		<img
			src="../src/utils/img/MarcPhoto2.png"
			alt="logo"
			class="w-140 ratio col-start-4 aspect-auto"
		/>
		<!-- </div> -->
	</div>
</div>

<style>
	#text {
		display: inline-block;
		color: white;
	}

	#cursor {
		display: inline-block;
		vertical-align: middle;
		width: 3px;
		height: 50px;
		background-color: white;
		animation: blink 0.75s step-end infinite;
	}

	@keyframes blink {
		from,
		to {
			background-color: transparent;
		}
		50% {
			background-color: white;
		}
	}
</style>

<script>
	// List of sentences
	var _CONTENT = [
		"Software Engineer",
		"Web Developer",
		"Programmer",
		"Problem Solver",
	];

	// Current sentence being processed
	var _PART = 0;

	// Character number of the current sentence being processed
	var _PART_INDEX = 0;

	// Holds the handle returned from setInterval
	var _INTERVAL_VAL;

	// Element that holds the text
	var _ELEMENT = document.querySelector("#text") as HTMLElement;

	// Implements typing effect
	function Type() {
		// Get substring with 1 characater added
		var text = _CONTENT[_PART].substring(0, _PART_INDEX + 1);
		_ELEMENT.innerHTML = text;
		_PART_INDEX++;

		// If full sentence has been displayed then start to delete the sentence after some time
		if (text === _CONTENT[_PART]) {
			// Hide the cursor

			clearInterval(_INTERVAL_VAL);
			setTimeout(function () {
				_INTERVAL_VAL = setInterval(Delete, 50);
			}, 2000);
		}
	}

	// Implements deleting effect
	function Delete() {
		// Get substring with 1 characater deleted
		var text = _CONTENT[_PART].substring(0, _PART_INDEX - 1);
		_ELEMENT.innerHTML = text;
		_PART_INDEX--;

		// If sentence has been deleted then start to display the next sentence
		if (text === "") {
			clearInterval(_INTERVAL_VAL);

			// If current sentence was last then display the first one, else move to the next
			if (_PART == _CONTENT.length - 1) _PART = 0;
			else _PART++;

			_PART_INDEX = 0;

			// Start to display the next sentence after some time
			setTimeout(function () {
				_INTERVAL_VAL = setInterval(Type, 100);
			}, 200);
		}
	}

	// Start the typing effect on load
	_INTERVAL_VAL = setInterval(Type, 100);
</script>
