---
import Layout from "../layouts/Layout.astro";

import Header from "../sections/Header.astro";
import Home from "../sections/Home.astro";
import AboutMe from "../sections/AboutMe.astro";
import { HeroParallaxProjects } from "../components/HeroParallaxProjects.jsx";
import ProjectsMobile from "../sections/ProjectsMobile.astro";
import Footer from "../sections/Footer.astro";


---

<Layout title="Marc Puig Portfolio">
	<Header />
	<main
		class=" from-purple-400 via-purple-300 to-purple-200
	bg-gradient-to-t dark:from-purple-800 dark:to-black
	font-firaCode">
		<Home />
		<div class="block min-[1025px]:hidden">
			<ProjectsMobile />
		</div>
		<div class="hidden min-[1025px]:block">
			<HeroParallaxProjects client:load />
		</div>
		<AboutMe />
	</main>
	<Footer />
</Layout>
