---
title: "Home";

import { Image } from 'astro:assets';
---

<div class="flex -mt-20 pt-32" id="Home">
	<div
		class="flex-cols md:grid md:grid-cols-5 md:pt-24 pb-24 lg:mb-16 w-screen">
		<div
			class="md:col-start-2 md:col-span-2 md:pt-32 px-5 md:px-0 text-lg md:text-5xl tracking-tight font-extralight text-center md:text-left -mr-5">
			<h2 class="font-bold text-gray-900 dark:text-gray-300">
				<div class="typewritter font-normal leading-normal">
					<!-- Hi! <br /> -->
					My name is <br />
					<span class="font-bold text-purple-500">Marc Puig López</span>
					<br />
					and I'm a <span class="block md:hidden"></span>
					<div id="text"></div><div id="cursor"></div>
				</div>
			</h2>
		</div>
		<Image
			src="/src/utils/img/MarcPhoto2.webp"
			alt="Foto de Marc Puig López"
			class="w-96 ratio col-start-4 aspect-auto"
			width="384"
			height="512"
			loading='eager'
		/>
	</div>
</div>

<style>
	:global(.light) {
		--text-color: white;
	}

	:global(.dark) {
		--text-color: white;
	}

	#text {
		display: inline-block;
	}

	#cursor {
		display: inline-block;
		vertical-align: middle;
		width: 3px;
		height: 50px;
		background-color: white;
		animation: blink 0.75s step-end infinite;
	}

	@media screen and (max-width: 768px) {
		#cursor {
			height: 30px;
		}
	}

	@keyframes blink {
		from,
		to {
			background-color: transparent;
		}
		50% {
			background-color: var(--text-color);
		}
	}

	img {
		mask-image: linear-gradient(to bottom, black 70%, transparent);
	}
</style>

<script>
	// List of sentences
	var _CONTENT = [
		"Software Engineer",
		"Web Developer",
		"Programmer",
		"Problem Solver",
	];

	// Current sentence being processed
	var _PART = 0;

	// Character number of the current sentence being processed
	var _PART_INDEX = 0;

	// Holds the handle returned from setInterval
	var _INTERVAL_VAL;

	// Element that holds the text
	var _ELEMENT = document.querySelector("#text") as HTMLElement;

	// Implements typing effect
	function Type() {
		// Get substring with 1 characater added
		var text = _CONTENT[_PART].substring(0, _PART_INDEX + 1);
		_ELEMENT.innerHTML = text;
		_PART_INDEX++;

		// If full sentence has been displayed then start to delete the sentence after some time
		if (text === _CONTENT[_PART]) {
			// Hide the cursor

			clearInterval(_INTERVAL_VAL);
			setTimeout(function () {
				_INTERVAL_VAL = setInterval(Delete, 50);
			}, 2000);
		}
	}

	// Implements deleting effect
	function Delete() {
		// Get substring with 1 characater deleted
		var text = _CONTENT[_PART].substring(0, _PART_INDEX - 1);
		_ELEMENT.innerHTML = text;
		_PART_INDEX--;

		// If sentence has been deleted then start to display the next sentence
		if (text === "") {
			clearInterval(_INTERVAL_VAL);

			// If current sentence was last then display the first one, else move to the next
			if (_PART == _CONTENT.length - 1) _PART = 0;
			else _PART++;

			_PART_INDEX = 0;

			// Start to display the next sentence after some time
			setTimeout(function () {
				_INTERVAL_VAL = setInterval(Type, 100);
			}, 200);
		}
	}

	// Start the typing effect on load
	_INTERVAL_VAL = setInterval(Type, 100);
</script>
